<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
     <form action="/admin/work-experience/create" method="post" class="flex flex-col gap-2">
        <div>
            <label for="">role:</label>
            <input type="text" name="role" required value="{{work_experience.role}}" class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">company:</label>
            <input type="text" name="company" required value="{{work_experience.company}}" class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">image:</label>
            <input type="file" name="image" required class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">tasks:</label>
            <textarea name="tasks" required class="px-2 rounded text-slate-600 bg-slate-200">{{work_experience.tasks}}</textarea>
        </div>
        <div>
            <label for="">tech_stacks:</label>
            <textarea name="tech_stacks" required class="px-2 rounded text-slate-600 bg-slate-200">{{work_experience.tech_stacks}}</textarea>
        </div>
        <div>
            <label for="">start_date:</label>
            <input type="date" name="start_date" required value="{{work_experience.start_date}}" class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">end_date:</label>
            <input type="date" name="end_date" value="{{work_experience.end_date}}" class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <button type="submit" class="w-[100px] px-2 py-1 rounded-lg text-center font-bold text-white bg-blue-500">submit</button>
    </form>
</body>
</html>