<div class="grow p-3 rounded bg-gray-100">
    <div class="max-w-fit mb-5">
        <p class="text-3xl font-bold break-words text-slate-800">
            Project
        </p>
        <hr class="rounded-full border border-orange-500">
    </div>
    <div class="p-3 rounded shadow bg-white">
        <div class="flex justify-between">
            <form action="/admin/project" method="GET" class="flex mb-3 gap-3">
                <input type="text" name="search" placeholder="Find" value="{{#if search}}{{search}}{{/if}}"
                    class="p-1 border border-slate-200 rounded hover:bg-gray-50 focus:outline-slate-300 focus:bg-gray-50 text-slate-800">
                <button type="submit" class="px-1 rounded font-medium text-white bg-blue-500 hover:bg-blue-600">
                    Search
                </button>
            </form>
            <div>
                <a href="/admin/project/create"
                    class="flex items-center flex-nowrap p-1 pr-3 rounded bg-green-500 hover:bg-green-600">
                    <svg class="stroke-white" width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 12L12 12M12 12L17 12M12 12V7M12 12L12 17" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span class="font-medium text-white">Create</span>
                </a>
            </div>
        </div>
        <table class="table-auto border-collapse w-full">
            <thead class="bg-indigo-200">
                <tr class="*:p-2 text-left *:text-blue-900">
                    <th class="w-[5ch] text-center">No</th>
                    <th class="min-w-fit">Name</th>
                    <th class="min-w-fit text-center">Image</th>
                    <th class="min-w-fit">Github</th>
                    <th class="min-w-fit">Demo</th>
                    <th class="w-[10ch] text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                <tr class="*:p-2 *:text-slate-800 hover:bg-slate-200 odd:bg-white even:bg-slate-50">
                    <td class="text-center">{{plusOne @index}}</td>
                    <td>{{this.name}}</td>
                    <td>
                        <svg id="preview-image" data-path="{{this.image}}" xmlns="http://www.w3.org/2000/svg"
                            width="24px" height="24px" viewBox="0 0 20 20"
                            class="m-auto transition-transform hover:scale-125 fill-blue-500 hover:fill-blue-600"
                            data-open-modal="modal-preview-image">
                            <path fill-rule="evenodd"
                                d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm8-4a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm.01 8a1 1 0 102 0V9a1 1 0 10-2 0v5z" />
                        </svg>
                    </td>
                    <td>
                        {{#if this.github}}
                        <a href="{{this.github}}" target="_blank" class="m-auto transition-transform hover:scale-125">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                                fill="none" class="stroke-blue-500 hover:stroke-blue-600">
                                <g clip-path="url(#clip0_429_11072)">
                                    <path
                                        d="M11 3.99994H4V17.9999C4 19.1045 4.89543 19.9999 6 19.9999H18C19.1046 19.9999 20 19.1045 20 17.9999V12.9999"
                                        stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M9 14.9999L20 3.99994" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15 3.99994H20V8.99994" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_429_11072">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        {{else}}
                        <p class="font-bold text-slate-400">Unavailable</p>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.demo}}
                        <a href="{{this.demo}}" target="_blank" class="m-auto transition-transform hover:scale-125">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                                fill="none" class="stroke-blue-500 hover:stroke-blue-600">
                                <g clip-path="url(#clip0_429_11072)">
                                    <path
                                        d="M11 3.99994H4V17.9999C4 19.1045 4.89543 19.9999 6 19.9999H18C19.1046 19.9999 20 19.1045 20 17.9999V12.9999"
                                        stroke-width="2.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M9 14.9999L20 3.99994" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15 3.99994H20V8.99994" stroke-width="2.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_429_11072">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        {{else}}
                        <p class="font-bold text-slate-400">Unavailable</p>
                        {{/if}}
                    </td>
                    <td>
                        <div class="flex justify-center gap-1 text-center">
                            <a href="/admin/project/update/{{this.id}}">
                                <svg class="transition-transform hover:scale-125 stroke-slate-800 hover:stroke-green-500"
                                    width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.3785 8.44975L11.4637 15.3647C11.1845 15.6439 10.8289 15.8342 10.4417 15.9117L7.49994 16.5L8.08829 13.5582C8.16572 13.1711 8.35603 12.8155 8.63522 12.5363L15.5501 5.62132M18.3785 8.44975L19.7927 7.03553C20.1832 6.64501 20.1832 6.01184 19.7927 5.62132L18.3785 4.20711C17.988 3.81658 17.3548 3.81658 16.9643 4.20711L15.5501 5.62132M18.3785 8.44975L15.5501 5.62132"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M5 20H19" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a data-open-modal="modal-remove" id="remove" data-id="{{this.id}}">
                                <svg class="transition-transform hover:scale-125 stroke-slate-800 hover:stroke-red-500"
                                    width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 12V17" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M14 12V17" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M4 7H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div id="modal-preview-image" class="hidden fixed flex items-center justify-center px-1 inset-0" data-type="modal">
    <div class="absolute inset-0 opacity-50 bg-gray-500"></div>
    <div class="relative overflow-auto p-3 min-w-[300px] max-h-[90vh] bg-white rounded-md shadow-md">
        <svg class="absolute top-0 right-0 stroke-red-500" data-close-modal="modal-preview-image" width="32px"
            height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 8L16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 8L8 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div>
            <p id="modal-title" class="text-lg font-bold text-slate-800">
                Preview
            </p>
            <hr class="border rounded-full border-orange-500">

            <div class="w-fit m-auto p-4">
                <img src="" alt="Tech Stack Image" class="w-[100px] h-[100px]">
            </div>
        </div>
        <div class="flex justify-center mt-5 text-center">
            <button data-close-modal="modal-preview-image"
                class="px-3 py-1 font-bold rounded-md text-lg text-white bg-red-500 hover:bg-red-600">
                Tutup
            </button>
        </div>
    </div>
</div>

<div id="modal-remove" class="hidden fixed flex items-center justify-center px-1 inset-0" data-type="modal">
    <div class="absolute inset-0 opacity-50 bg-gray-500"></div>
    <form action="/admin/project/remove" method="post" class="relative p-3 min-w-[300px] bg-white rounded-md shadow-md">
        <input type="hidden" id="id" name="id">
        <div class="w-fit mx-auto">
            <p class="text-lg font-bold text-slate-800">
                Remove this data?
            </p>
            <hr class="border rounded-full border-orange-500">
        </div>
        <div class="flex justify-around mt-5 text-center">
            <button data-close-modal="modal-remove"
                class="px-3 py-1 font-bold rounded-md text-lg text-white bg-green-500 hover:bg-green-600">
                Cancel
            </button>
            <button type="submit" class="px-3 py-1 font-bold rounded-md text-lg text-white bg-red-500 hover:bg-red-600">
                Confirm
            </button>
        </div>
    </form>
</div>

<script>
    let buttons_preview = document.querySelectorAll('#preview-image');
    let buttons_remove = document.querySelectorAll('#remove');

    for (let btn of buttons_preview) {
        btn.addEventListener('click', e => {
            const path = btn.dataset.path;

            document.querySelector('#modal-preview-image img').src = path;
        })
    }

    for (let btn of buttons_remove) {
        btn.addEventListener('click', e => {
            const id = btn.dataset.id;
            console.log(btn.dataset.id)

            document.querySelector('#modal-remove #id').value = id;
        })
    }
</script>